* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
main{
    padding-top: 72px;
  }
  .container{
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  
  @media screen and (max-width: 768px) {
    .container{
      flex-direction: column;
      align-items: center;
      padding: 0 30px;
      
    }
  
    .content-left{
      padding-right: 0 !important;
      padding-bottom: 20px;
    }
  
    .content-right {
     margin-bottom: 20px !important;
    }
  
  
    .container-social .social{
      margin-top: 15px !important;
    }
  
    .container-social .text {
      padding-right: 0 !important;
      text-align: center;
    }
    
    .tabs .content {
      padding-left: 0;
      padding-right: 0;
    }
  
    .buttons {
      display: flex;
      gap: 20px;
    }
  
    .images {
     text-align: center;
    }
  
   
    .black .text3 {
      padding-left: 0;
    } 
  
    .black ul .container {
      flex-direction: row;
    }
  
    

    .content3 {
      padding: 20px;
    } 
  }